LEAD QUALIFICATION AGENT.json
{
  "name": "LEAD QUALIFICATION AGENT",
  "nodes": [
    {
      "parameters": {
        "formTitle": "Work with us",
        "formDescription": "Provide your details below and we will be in touch!",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your name?",
              "requiredField": true
            },
            {
              "fieldLabel": "What is your company Website?",
              "placeholder": "e.g. https://www.abrarforwarders.com",
              "requiredField": true
            },
            {
              "fieldLabel": "What we can help you with?",
              "fieldType": "textarea",
              "requiredField": true
            },
            {
              "fieldLabel": "what is your Email?",
              "fieldType": "email",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        -448,
        -32
      ],
      "id": "1f2504e1-d3ae-4826-9a32-a20b1e4e5c4b",
      "name": "On form submission",
      "webhookId": "626c070d-7f2f-4d96-bd00-cd2a1acd3d3a"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api-d7b62b.stack.tryrelevance.com/latest/studios/91d34a3a-e766-449b-9703-4b2fde28e2a8/trigger_webhook?project=14f7ea06-4126-4801-a309-a04f4c9d6ab4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"company_url\":\"{{ $json['What is your company Website?'] }}\"}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -304,
        -32
      ],
      "id": "94acced4-2b60-4d4e-89ee-56e6e42168a0",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an inbound lead qualification agent. Your job is to analyze the form submission and company research provided and decide whether they are qualified to work with Big Boy Recruits, a Dallas based recruitment firm.\n\nBig Boy Recruits specializes in IT and tech talent placements. We are specialists in capturing talent post liquidiation and can therefore provide talent to our clients as we hit the market. \n\nWe only work with Software based businesses, e.g. SaaS companies or development agencies. These companies are willing to pay much more developers than your average marketing company or local business, therefore we only work with them.\n\nYour job is to determine if the lead you are provided with is a good fit for Big Boy Recruits, and if so call the 'lead_is_qualified' tool and send the lead information to it. If the lead is not qualified, then you must trigger the Gmail send email tool for us to respond to them, letting them know we are unable to help them.\n                   \nHere is the lead information for you to analyze:\nName: {{ $('On form submission').item.json['What is your name?'] }}              \nCompany URL: {{ $('On form submission').item.json['What is your company Website?'] }}  \nMessage/Request:{{ $('On form submission').item.json['What we can help you with?'] }}     \nCompany Research (scraped from their website):{{ $json.answer }}\n",
        "hasOutputParser": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -128,
        -32
      ],
      "id": "03f36dc0-db23-41e8-a89e-386f7271cb79",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite-preview-06-17",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -112,
        224
      ],
      "id": "2b7a95d1-d9c7-4597-ac26-c58306095367",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Mb0HYJP2JKAIonjK",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5e1fffa8-724d-4936-97d9-51d40c7c09af",
              "leftValue": "={{ $json.output.qualified }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        -32
      ],
      "id": "a5b44353-62ce-4dc3-961c-ba7307f4b94e",
      "name": "If"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"qualified\": true,\n  \"name\": \"John Doe\",\n  \"company_url\": \"https://example.com\",\n  \"message\": \"We are looking for developers\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        240,
        208
      ],
      "id": "a99e01ee-0d1a-4707-bb8e-af3993295256",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://spartan300.app.n8n.cloud/webhook/c733198d-d9d2-4a51-97a8-6b7737f1e0d4",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $('On form submission').item.json[\"What is your name?\"] }}\",\n  \"email\": \"{{ $('On form submission').item.json[\"what is your Email?\"] }}\",\n \"company info\": \"{{ $('AI Agent').item.json.output.message.replace(/\\n/g, ' ').replace(/\"/g, '\\\\\"') }}\",\n\"message\": \"{{ $('On form submission').item.json['What we can help you with?'] }}\"\n  \n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        432,
        -80
      ],
      "id": "a6bf60f1-9393-436a-a37c-cfaa62493797",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('On form submission').item.json[\"what is your Email?\"] }}",
        "subject": "Thanks ",
        "emailType": "text",
        "message": "=Hi {{ $('On form submission').item.json['What is your name?'] }},  Thanks for your interest in Big Boy Recruitment services! AS we specialze in recruitment for software businesses such as SaaS and development agencies, we're not a good fit for you based on your company's industry.  Please let me know if you'd like us to connect you with one of our partners who specialzies in dealing with your needs.  Cheers,  Huge Jackman Head of Sales, Big Boy Recruits (BBR) Dallas, TX",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        448,
        144
      ],
      "id": "20627f29-a4c9-4403-8985-5eaac7cfa133",
      "name": "Send a message",
      "webhookId": "adea813f-f71b-4f37-9775-9eefd8f87573",
      "credentials": {
        "gmailOAuth2": {
          "id": "UyVqrSNbY03hGiyg",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "144354c9-8e69-4932-a6f8-75b57b40db2e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f0d5a3908f3fa266c5254cdd45100c22e4fe245da1d5d43df8d8ee18d210d4d3"
  },
  "id": "Vr5ZalHog98MtHUg",
  "tags": []
}